[Unit]
Description=Mindustry server daemon
After=network-online.target

[Service]
Type=simple
User=mindustry
Group=mindustry
KillMode=process
KillSignal=SIGINT

ExecStart=/usr/local/bin/mindustryd --daemon

[Install]
WantedBy=multi-user.target
